body{
    background-color: rgb(251, 231, 207);
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -1px;
    font-weight: bold;
    color: #5C0000;
    font-size: 28px;
}
.ashmit{
    color: #B22222;
    font-size: 48px;
}
.intro{
    font-size: 28px;
    color: #5C0000;
}
.head{
    color: maroon;
    font-size: xx-large;
}
.img1{
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
