body{
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
}
.ashmit{
    color: #B22222;
    font-size: 48px;
}
.intro{
    color: #5C0000;
    font-size: xx-large;
}
.head{
    color: maroon;
    font-size: 36px;
}